
    <body>

        <div class="breadcrumb-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>We think our Busters are awesome and the heros of the perfect products before they get perfect.</h4>
                    </div>
                    <div class="col-sm-6 hidden-xs text-right">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li>Busters</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--breadcrumbs-->
        <div class="divide80"></div>


        <div class="container">
            <div class="row">
                <div class="col-md-6 margin20">
                    <h3 class="heading">Little About our busters</h3>
                    <p>
                      We have 1000+ busters around the world who are located across North America, Oceania, Europea and Asia have registered on our Bugsters platform. Our awesome busters have helped 50+ companies to bust & perfect their over 200 products.
                    </p>
                    <p><a href="#" class="btn btn-theme-bg">Join Us Now</a></p>
                </div>
                <div class="col-md-6">
                    <!--<img src="<%= asset_path "showcase-4.jpg" %>" class="img-responsive" alt="">-->
                    <img src="<%= asset_path "showcase-worldmap.jpg" %>" class="img-responsive" alt="">
                </div>
            </div><!--about intro-->
            <div class="divide60"></div>
            <div class="row">

                <div class="col-md-12 margin20">
                    <h3 class="heading">Meet the Busters and Connect the Users</h3>
                </div>
            </div>

        </div><!--team-->

        <!--11-11-2015 Cat Add Buster Members Portfolio-->

        <div class="container shopping-cart-container">
              <div class="row">
                  <div class="col-sm-12 margin30">
                      <table class="table table-striped shopping-cart-table">
                          <tbody><tr>
                              <!--<th class="hidden-xs">
                              </th>-->
                              <th>
                                  Busters
                              </th>
                              <th>
                                  Title
                              </th>
                              <th>
                                  Bugs
                              </th>
                              <th>
                                  Bounties
                              </th>
                              <th>
                                  Reputation
                              </th>
                              </tr>
                              <tr>
                              <td class="hidden-xs">
                                  <a href=""><img src="<%= asset_path "customer-3.jpg" %>" alt="" class="img-circle" style="width:70px;height:70px;"></a>
                              </td>

                              <td>
                                  <a href="#" title="">Caroline Gao</a>
                              </td>
                              <td>
                                  <!--Bug Numbers cannot be input display
                                  <form class="form">
                                      <input type="number" class="input-sm" style="width: 60px;" min="1" max="25" value="60">
                                  </form>-->
                                  <i class="fa fa-bolt"></i> 90
                              </td>
                              <td>
                                  $36,000.00
                              </td>
                              <td>
                                  <ul class="list-inline rating-list">
                                          <li><i class="fa fa-heartbeat yellow"></i></li>
                                          <li><i class="fa fa-heartbeat yellow"></i></li>
                                          <li><i class="fa fa-heartbeat "></i></li>
                                          <li><i class="fa fa-heartbeat"></i></li>
                                          <li><i class="fa fa-heartbeat"></i></li>
                                  </ul>
                              </td>
                              </tr>
                              <tr>
                              <td class="hidden-xs">
                                  <a href=""><img src="<%= asset_path "customer-1.jpg" %>" alt="" class="img-circle" style="width:70px;height:70px;"></a>
                              </td>
                              <td>
                                  <a href="#" title="">David Stapleton</a>
                              </td>
                              <td>
                                  <i class="fa fa-bolt"></i> 60
                              </td>
                              <td>
                                  $24,000.00
                              </td>
                              <td>
                                  <ul class="list-inline rating-list">
                                          <li><i class="fa fa-heartbeat yellow"></i></li>
                                          <li><i class="fa fa-heartbeat blue"></i></li>
                                          <li><i class="fa fa-heartbeat "></i></li>
                                          <li><i class="fa fa-heartbeat"></i></li>
                                          <li><i class="fa fa-heartbeat"></i></li>
                                  </ul>
                              </td>
                              </tr>
                              <td class="hidden-xs">
                                  <a href=""><img src="<%= asset_path "customer-2.jpg" %>" alt="" class="img-circle" style="width:70px;height:70px;"></a>
                              </td>
                              <td>
                                  <a href="#" title="">Tom Stapleton</a>
                              </td>
                              <td>
                                  <i class="fa fa-bolt"></i> 50
                              </td>
                              <td>
                                  $24,000.00
                              </td>
                              <td>
                                <ul class="list-inline rating-list">
                                        <li><i class="fa fa-heartbeat yellow"></i></li>
                                        <li><i class="fa fa-heartbeat blue"></i></li>
                                        <li><i class="fa fa-heartbeat"></i></li>
                                        <li><i class="fa fa-heartbeat"></i></li>
                                        <li><i class="fa fa-heartbeat"></i></li>
                                </ul>
                              </td>
                              </tr>
                              <tr>
                              <td class="hidden-xs">
                                  <a href=""><img src="<%= asset_path "customer-4.jpg" %>" alt="" class="img-circle" style="width:70px;height:70px;"></a>
                              </td>
                              <td>
                                  <a href="#" title="">Lily Yang</a>
                              </td>
                              <td>
                                  <i class="fa fa-bolt"></i> 30
                              </td>
                              <td>
                                  $36,000.00
                              </td>
                              <td>
                                <ul class="list-inline rating-list">
                                    <li><i class="fa fa-heartbeat"></i></li>
                                    <li><i class="fa fa-heartbeat"></i></li>
                                    <li><i class="fa fa-heartbeat"></i></li>
                                </ul>
                              </td>
                              </tr>
                              <td class="hidden-xs">
                                  <a href=""><img src="<%= asset_path "customer-5.jpg" %>" alt="" class="img-circle" style="width:70px;height:70px;"></a>
                              </td>
                              <td>
                                  <a href="#" title="">Steve Davis</a>
                              </td>
                              <td>
                                  <i class="fa fa-bolt"></i> 30
                              </td>
                              <td>
                                  $24,000.00
                              </td>
                              <td>
                                  <a href=""><i class="fa fa-heartbeat"></i></a>
                              </td>
                              </tr>
                              <tr>
                              <td class="hidden-xs">
                                  <a href=""><img src="<%= asset_path "customer-6.jpg" %>" alt="" class="img-circle" style="width:70px;height:70px;"></a>
                              </td>
                              <td>
                                  <a href="#" title="">Boni Sinclair</a>
                              </td>
                              <td>
                                  <i class="fa fa-bolt"></i> 20
                              </td>
                              <td>
                                  $12,000.00
                              </td>
                              <td>
                                  <a href=""><i class="fa fa-heartbeat"></i> </a>
                              </td>
                              </tr>
                              </tbody></table><!--cart table end-->

                              <div class="divide60"></div>

                              <div class="row">
                                  <div class="col-md-12 text-center">
                                      <a href="#" class="btn border-theme btn-lg wow animated fadeInUp"><i class="fa fa-bars"></i>Load More Busters</a>
                                  </div>
                              </div>

                  </div>
              </div>
        </div>

        <!--11-11-2015 End of Cat Add Buster Members Portfolio -->

        <div class="divide60"></div>

        <section id="cta-1">
            <div class="container">
                <h1>Believe you are a natural creative product buster?</h1>
                <a href="#" class="btn border-white btn-lg">Bust a Product Now</a>
            </div>
        </section>


    </body>
</html>
