
 <body>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <!-- 23 Jan 2019
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            23 Jan 2019 -->
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item item-c-slide active">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center slide-text">
                            <h1 class="animated slideInLeft delay-1">AIDA Robotics</h1>
                            <div class="divide15"></div>
                            <p class="animated slideInLeft delay-2"><font size="6">We are a AI-powered robotics startup. <br>
                               We built service robots for hotels, elderly caring industries. </font></p>
                            <div class="divide15"></div>
                            <p class="animated slideInLeft delay-3"><a href="#" class="btn btn-lg btn-theme-bg"> Take tour</a></p>
                        </div>
                    </div>
                </div>
            </div><!--item-->
            <div class="item item-c-slide">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center slide-text">
                            <p class="animated slideInLeft delay-1"><font size="6">We have two</font></p>
                            <div class="divide15"></div>
                            <h1 class="animated slideInLeft delay-2">Robotics Products</h1>
                            <div class="divide15"></div>
                            <p class="animated slideInLeft delay-1"><font size="6">Service Delivery Robots and Reception Assistant Robots</font></p>
                            <div class="divide15"></div>
                            <p class="animated slideInLeft delay-3"><a href="#" class="btn btn-lg btn-theme-bg"> Get Started</a></p>
                        </div>
                    </div>
                </div>
            </div><!--item-->
            <div class="item item-c-slide">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center slide-text">
                            <p class="animated slideInLeft delay-1"><font size="6">We provide AI and robotics solutions</font></p>
                            <div class="divide15"></div>
                            <h1 class="animated slideInLeft delay-2">Customized Robots</h1>
                            <div class="divide15"></div>
                            <p class="animated slideInLeft delay-3"><a href="/products" class="btn btn-lg btn-theme-bg"> Explore Products</a></p>
                        </div>
                    </div>
                </div>
            </div><!--item-->
        </div><!--carousel inner-->
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div><!--carousel slider-->

    <div class="divide60"></div>
    <div class="container">
        <div class="row">
            <div>
                <div class="center-heading">
                    <h2>ABOUT US</h2>
                    <span class="center-line"></span>
                    <p>
                     We are an AI-powered robotics company located in Sydney and Shenzhen <br>which
                     provides robotic products and AI technical solutions to international business clients, including hotels, beadhouses, restaurants and warehouses.
                     <br>
                     <strong>We sell two SERVICE ROBOTICS PRODUCTS:</strong>
                     <br><strong><font color="orange">SERVICE DELIVERY ROBOT</font></strong>
                     which could take lift and deliver items to each room autonoumously
                     by using SLAM, navigation AI techniques;
                     <br>
                     <strong><font color="#00bfff">RECEPTION ASSISTANT ROBOT</font></strong> working in hotels to help customers to check-in with billingual voice communication (English and Chinese), <br>one robot could help business reduce two human costs.
                     <br>
                     We also provide <strong><font color="orange">AI technical solutions</font></strong>
                     including <strong>Face recognition, object recognition, NLP, and multimodal fusion AI techniques</strong>
                     to help business clients
                     reduce human resource cost and better and more effectively understand their users, thereby increasing sales.
                     <br>
                     Our conversational AI has the best natural language understanding capability in Chinese and English.
                     She recognizes intent, meaning, and emotion, and she has memory.
                     As well as conversing with you fluently in Chinese and English,
                     she can play music, tell jokes, remind you about appointments,
                     remember things for you, check the weather, search for knowledge,
                     call didi, book a restaurant, and so on.
                     <br>
                     Our products DavinciAI SaaS platform, helps businesses add a shopping assistant to provide a delightful shopping experience to their customers,
                     as well as providing customized service to a variety of customers, all in one conversation interface.

                    </p>
                </div>
            </div>

        </div><!--center heading end-->


        <div class="divide60"></div>
        <div class="container">
            <div class="row">
                <div>
                    <div class="center-heading">
                        <h2>ROBOT PRODUCTS</h2>
                        <span class="center-line"></span>
                    </div>
                </div>

            </div><!--center heading end-->



        <!-- 23-Jan-2019 , About us, AIDA Robotics -->
        <div class="divide80"></div>
        <div class="container">

          <!-- Service delivery robot-->
          <div class="row">
              <div class="col-md-6 margin20">
                  <h3 class="heading">SERVICE DELIVERY ROBOT</h3>
                  <p>
                    The core functions of item delivery robot include:
                    <br>•	Send stuff/items to a particular room with autonomous navigation and navigation obstacle avoidance and return back autonomously.
                    <br>•	Take lift/elevator
                    <br>•	Voice communication control: e.g. talk to the robot, go to room 512 by voice, the robot will go to room 512 to deliver the bath towel
                    <br>•	Connect and call the telephone in each room when deliver the item to a room
                    <br>•	English and Chinese version
                  </p>
                  <!--<p><a href="/products/index" class="btn border-blue btn-lg">Our Services</a></p>-->
              </div>
              <div class="col-md-6">
                  <img src="<%= asset_path "delivery-robot.jpg" %>" class="img-responsive" alt="">
              </div>
          </div>
          <!-- End of service delivery robot-->

            <!--Reception Robot-->
            <section id="services-bg-wrap" class="white-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 hidden-sm">
                            <img src="<%= asset_path "reception-robot.jpg" %>" class="img-responsive wow animated fadeInLeft" alt="mockup">
                        </div>
                        <div class="col-md-1 hidden-sm">
                        </div>
                        <div class="col-md-7  col-xs-12 service-4-meta">
                            <h3>RECEPTION ASSISTANT ROBOT</h3>
                            <span class="center-line"></span>
                            <div class="divide20"></div>
                            <p>The core functions of reception robot include:<br>•	Welcome guests in two languages, English and Chinese by voice communication
  <br>•	Help guests to check in rooms by voice guide and touch screen
  <br>•	Recommend and introduce different types of rooms in hotels by voice communication and screen show
  <br>•	Answer general questions: the nearby train station, weather, nearby supermarket, popular travel places, etc by voice communication
  <br>•	Answer particular hotel questions: the price of different types of rooms, the facilities of each room, room availability, and etc. by voice communication and screen show
  <br>•	Card or QR code scan payment (have voice guide)
  <br>•	Take out the room card for guests automatically </p>

                            <div class="divide20"></div>

                        </div>
                    </div>
                </div>
            </section>
            <!--End of Reception Robot-->

            <!--Companion Robot-->
            <section id="services-bg-wrap" class="white-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 hidden-sm">
                            <img src="<%= asset_path "companion-robot.jpg" %>" class="img-responsive wow animated fadeInLeft" alt="mockup">
                        </div>
                        <div class="col-md-6  col-xs-12 service-4-meta">
                            <h3>COMPANION ROBOT</h3>
                            <span class="center-line"></span>
                            <div class="divide20"></div>
                            <p>The companion robot is very popular in kindergarden, schools for kids, and have provided extra valua in K12 education.
                            <b>the robot could communicate with people by using NLP, NLU technologies,
                            <b>could play music, tell jokes, book restaurants, call a taxi,
                            <b>remind you about appointments, remember things for you, search for knowledge, check the weather and so on.
</p>

                            <div class="divide20"></div>

                        </div>
                    </div>
                </div>
            </section>
            <!--End of Companion Robot-->


        <div class="divide50"></div>

        <!--End of Process section A-part & B-part-->


    </div><!--services container-->


    <!--Creative Software Busters-->
  <div class="section-color">
    <div class="testimonials-v-2 wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="100ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="center-heading">
                        <h2>Our Engineering Teams</h2>
                        <span class="center-line"></span>
                        <p>
                          AIDA Robotics founded in 2016, the technical teams are led by Professors of University of Chinese Academy of Sciences, Harbin Institute of Technology, and Beijing University of Aeronautics and Astronautics.
                          The Sydney engineering teams are from UNSW, AI & Robotics lab.
                        </p>
                    </div>
                </div>
            </div><!--center heading end-->
            <div class="divide30"></div>
            <div class="row">
              <!--<div class="col-md-12">
                  <div id="work-carousel" class="owl-carousel owl-spaced">-->
                        <div class="col-md-1 margin-btm-20">
                        </div>
                        <div class="col-md-2 margin-btm-20">

                            <div class="quote-footer text-right">
                                <div class="quote-author-img">
                                    <img src="<%= asset_path "customer-0.png" %>" alt="Tom">
                                </div>
                                <h4>Caroline</h4>
                                <p>
                                  <strong>Founder</strong><br>
                                  <strong>Her expert is in Artificial Intelligence, AI applications in service and social robotics.
12 years of tech experience in SONY, HP, have led teams build 3 service robots. UNSW AI & Robotics PhD candidate.</strong>
                                </p>
                            </div>
                        </div><!--colored quote box col-->
                        <div class="col-md-2 margin-btm-20">

                            <div class="quote-footer text-right">
                                <div class="quote-author-img">
                                    <img src="<%= asset_path "customer-2.jpg" %>" alt="Tom">
                                </div>
                                <h4>Professor Fei Wang</h4>
                                <p>
                                  <strong>AI & Robotics Tech Supervisor</strong><br>
                                  <strong>AI & Robotics Professor in Harbin Institute of Technology, expert in vSLAM, computer vision.</strong>
                                </p>
                            </div>
                        </div><!--colored quote box col-->
                        <div class="col-md-2 margin-btm-20">

                            <div class="quote-footer text-right">
                                <div class="quote-author-img">
                                    <img src="<%= asset_path "customer-3.png" %>" alt="Caroline">
                                </div>
                                <h4>Dr. Huang</h4>
                                <p>
                                  <strong>CTO</strong><br>
                                  <strong>Ph.D., Robotics Research Institute, Beihang University,
Postdoctoral research projects, home service robots, multi-robot systems, the "robot conscious".
</strong>
                                </p>
                            </div>
                        </div><!--colored quote box col-->
                        <div class="col-md-2 margin-btm-20">

                            <div class="quote-footer text-right">
                                <div class="quote-author-img">
                                    <img src="<%= asset_path "customer-4.png" %>" alt="Lily">
                                </div>
                                <h4>Zhaofeng</h4>
                                <p>
                                  <strong>AI Engineer</strong><br>
                                  <strong>Senior robotics engineer and architect. Chaired the first software control system for disinfection robots in China. Expert in robot voice interaction, deep learning, robot monitoring.
</strong>
                                </p>
                            </div>
                        </div><!--colored quote box col-->
                        <div class="col-md-2 margin-btm-20">

                            <div class="quote-footer text-right">
                                <div class="quote-author-img">
                                    <img src="<%= asset_path "customer-5.jpg" %>" alt="">
                                </div>
                                <h4>Weilin</h4>
                                <p>
                                  <strong>AI Engineer</strong><br>
                                  <strong>An intelligent robot algorithm engineer, a robot mobile application development engineer, navigation functions development.
</strong>
                                </p>
                            </div>
                        </div><!--colored quote box col-->
                        <div class="col-md-1 margin-btm-20">
                        </div><!--colored quote box col-->
                  <!--</div>
               </div>-->
            </div>
        </div>
    </div><!--testimonials v-2 end-->
  </div>
    <!--End of Creative Software Testers-->



 </body>
