
    <body>

        <div class="breadcrumb-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h4>Leading AI Technical Solutions</h4>
                    </div>
                    <div class="col-sm-4 hidden-xs text-right">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li>Services</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--breadcrumbs-->
        <div class="divide80"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 margin20">
                    <h3 class="heading">Leading AI Technical Solutions</h3>
                    <p>
                    Our AI technical solutions include Face recognition, object recognition, NLP, and multimodal fusion AI techniques to help business clients reduce human resource cost and better and more effectively understand their users, thereby increasing sales.
<br>Our conversational AI has the best natural language understanding capability in Chinese and English. She recognizes intent, meaning, and emotion, and she has memory. As well as conversing with you fluently in Chinese and English, she can play music, tell jokes, remind you about appointments, remember things for you, check the weather, search for knowledge, call didi, book a restaurant, and so on.
<br>Our DavinciAI SaaS platform solution, helps businesses add a shopping assistant to provide a delightful shopping experience to their customers, as well as providing customized service to a variety of customers, all in one conversation interface..<br>
                    </p>
                    <p><a href="#" class="btn btn-theme-bg">Get Started</a></p>
                </div>
                <div class="col-md-6">
                    <img src="<%= asset_path 'showcase-4.jpg' %>" class="img-responsive" alt="">
                </div>
            </div><!--about intro-->
        </div>
        <div class="divide60"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="heading">Our Services</h3>
                </div>
            </div>
            <div class="row special-feature">
                <div class="col-md-3 col-sm-6 margin20">
                    <div class="s-feature-box text-center">
                        <div class="mask-top">
                            <!-- Icon -->
                            <i class="fa fa-code"></i>
                            <!-- Title -->
                            <h4>Provide NLP &amp; NLI solutions in Chinese and English</h4>
                        </div>
                        <div class="mask-bottom">
                            <!-- Icon -->
                            <i class="fa fa-code"></i>
                            <!-- Title -->
                            <h4>Provide NLP &amp; NLI solutions in Chinese and English</h4>
                            <!-- Text -->
                            <p>We help business clients to customize natural language processing and understanding solutions, enable your agent to understand language.</p>
                        </div>
                    </div>

                </div><!--services col-->
                <div class="col-md-3 col-sm-6 margin20">
                    <div class="s-feature-box text-center">
                        <div class="mask-top">
                            <!-- Icon -->
                            <i class="fa fa-globe"></i>
                            <!-- Title -->
                            <h4>Provide Computer Vision solutions</h4>
                        </div>
                        <div class="mask-bottom">
                            <!-- Icon -->
                            <!--<i class="fa fa-laptop"></i>-->
                            <i class="fa fa-globe"></i>
                            <!-- Title -->
                            <h4>Provide Computer Vision solutions</h4>
                            <!-- Text -->
                            <p>We provide computer vision solutions powered by deep neural networks.</p>
                        </div>
                    </div>
                </div><!--services col-->
                <div class="col-md-3 col-sm-6 margin20">
                    <div class="s-feature-box text-center">
                        <div class="mask-top">
                            <!-- Icon -->
                            <i class="fa fa-crop"></i>
                            <!-- Title -->
                            <h4>Customize Robot Products</h4>
                        </div>
                        <div class="mask-bottom">
                            <!-- Icon -->
                            <i class="fa fa-crop"></i>
                            <!-- Title -->
                            <h4>Customize Robot Products</h4>
                            <!-- Text -->
                            <p>Provide customized robotic product design, development including ID design, structure design and help you launch products in factory.</p>
                        </div>
                    </div>
                </div><!--services col-->
                <div class="col-md-3 col-sm-6 margin20">
                    <div class="s-feature-box text-center">
                        <div class="mask-top">
                            <!-- Icon -->
                            <i class="fa fa-flag"></i>
                            <!-- Title -->
                            <h4>AIDA AI Robotic Interactive System</h4>
                        </div>
                        <div class="mask-bottom">
                            <!-- Icon -->
                            <i class="fa fa-flag"></i>
                            <!-- Title -->
                            <h4>AIDA AI Robotic Interactive System</h4>
                            <!-- Text -->
                            <p>Our AIDA AI Interactive system create association and relationship rules between computer vision and NLP.</p>
                            <!--<p>Bugsters helps enterprise to analyze product defects data across crowd platforms around the world's users; control indeterminate risks through big data analysis.</p>-->
                        </div>
                    </div>
                </div><!--services col-->
            </div>
            <div class="divide30"></div>

        </div><!--.container-->
        <div class="divide60"></div>

        <div class="container">

            <div class="row">

                <div class="col-md-12 margin20">
                    <h3 class="heading">Meet Our Robotics Products</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src="<%= asset_path "img-1.png" %>" class="img-responsive" alt="">
                        <h4>Companion Robot</h4>
                        <span>Work in kindergarden</span>
                        <p>
                           Companion Robot could teach children singing, dancing, math, and various knowledge.
                        </p>
                        <div class="divide30"></div>
                        <!--End of button book an expert-->

                    </div><!--team-wrap-->
                </div><!--team col-->
                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src="<%= asset_path "img-2.png" %>" class="img-responsive" alt="">
                        <h4>Robotic Movement Base</h4>
                        <span>Work in warehouse</span>
                        <p>
                            Robotic movement base could enable your robots' movement capablitity in one month with SLAM or vSLAM navigation techniques.
                        </p>
                        <div class="divide30"></div>
                    </div><!--team-wrap-->
                </div><!--team col-->

                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src="<%= asset_path "img-3.png" %>" class="img-responsive" alt="">
                        <h4>Delivery Robot</h4>
                        <span>Work in hotels</span>
                        <p>
                            Service delivery robot could deliver items to each room with autonomous navigation funcitons by voice control and could take lifts automatically.
                        </p>
                        <div class="divide30"></div>
                    </div><!--team-wrap-->
                </div><!--team col-->

                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src="<%= asset_path "img-4.png" %>" class="img-responsive" alt="">
                        <h4>Reception Robots</h4>
                        <span>Work in office building</span>
                        <p>
                           Reception assistant robot could replace two receptionists' work and improve service productivity and reduce human costs.
                        </p>
                        <div class="divide30"></div>
                    </div><!--team-wrap-->
                </div><!--team col-->
            </div>
            <div class="divide30"></div>
            <div class="row">
                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src="<%= asset_path "img-5.png" %>" class="img-responsive" alt="">
                        <h4>Reception Robots</h4>
                        <span>Work in hotels</span>
                        <p>
                          Reception assistant robots could replace two receptionists' work, improve service productivity and reduce costs.
                        </p>
                        <div class="divide30"></div>
                    </div><!--team-wrap-->
                </div><!--team col-->
                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src="<%= asset_path "img-6.png" %>" class="img-responsive" alt="">
                        <h4>Companion Robots</h4>
                        <span>Work in elderly care industries</span>
                        <p>
                            Companion robots bring joy to each family and senior people by conversing with them fluently in English, remind appointments, etc.
                        </p>
                        <div class="divide30"></div>
                    </div><!--team-wrap-->
                </div><!--team col-->
                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src="<%= asset_path "img-7.png" %>" class="img-responsive" alt="">
                        <h4>Warehouse robot</h4>
                        <span>Work in warehouse</span>
                        <p>
                            Warehouse autonomous AGV robot could transport heavy stuff in warehouse.
                        </p>
                        <div class="divide30"></div>
                    </div><!--team-wrap-->
                </div><!--team col-->
                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src="<%= asset_path "img-8.png" %>" class="img-responsive" alt="">
                        <h4>Guide Robot</h4>
                        <span>Work in museum</span>
                        <p>
                            Guide robot could welcome customers autonomously and guide customers to give an introduction about museum.
                        </p>
                        <div class="divide30"></div>
                    </div><!--team-wrap-->
                </div><!--team col-->
            </div>

            <div class="divide60"></div>

        </div><!--team-->
        <div class="divide60"></div>
        <!-- End of Caroline Add Tech Experts into the half-bottom page-->

        <section id="cta-1">
            <div class="container">
                <h1>Need AI solutions to improve your market competition?</h1>
                <a href="#" class="btn border-white btn-lg">Contact Us Now</a>
            </div>
        </section>

    </body>
</html>
