
    <body>

        <div class="breadcrumb-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h4>Connect the World's Top Technical EXPERTS</h4>
                    </div>
                    <div class="col-sm-4 hidden-xs text-right">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li>Services</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--breadcrumbs-->
        <div class="divide80"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 margin20">
                    <h3 class="heading">Connect the world's top tech experts</h3>
                    <p>
                      Bugsters connects the world's technical experts to help your business to solve the problems by using new technology through our crowd tech-experts online platform;
                      Bugsters helped your business to reach the aim in the most productive way and lowest cost.<br>
                      Get instant access to top Technical & Strategy consultants around the world and
                      Let your business keep leading in the competition NOW.<br>
                    </p>
                    <p><a href="#" class="btn btn-theme-bg">Get Started</a></p>
                </div>
                <div class="col-md-6">
                    <img src="<%= asset_path 'showcase-4.jpg' %>" class="img-responsive" alt="">
                </div>
            </div><!--about intro-->
        </div>
        <div class="divide60"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="heading">Our Services</h3>
                </div>
            </div>
            <div class="row special-feature">
                <div class="col-md-3 col-sm-6 margin20">
                    <div class="s-feature-box text-center">
                        <div class="mask-top">
                            <!-- Icon -->
                            <i class="fa fa-code"></i>
                            <!-- Title -->
                            <h4>Fix the Knotty Bugs &amp; Problems</h4>
                        </div>
                        <div class="mask-bottom">
                            <!-- Icon -->
                            <i class="fa fa-code"></i>
                            <!-- Title -->
                            <h4>Fix the Knotty Bugs &amp; Problems</h4>
                            <!-- Text -->
                            <p>Our Technical Experts can help you to solve the knotty technical problems or fix the intractable bugs.</p>
                        </div>
                    </div>

                </div><!--services col-->
                <div class="col-md-3 col-sm-6 margin20">
                    <div class="s-feature-box text-center">
                        <div class="mask-top">
                            <!-- Icon -->
                            <i class="fa fa-globe"></i>
                            <!-- Title -->
                            <h4>Advise Radical Technical Strategy</h4>
                        </div>
                        <div class="mask-bottom">
                            <!-- Icon -->
                            <!--<i class="fa fa-laptop"></i>-->
                            <i class="fa fa-globe"></i>
                            <!-- Title -->
                            <h4>Advise Radical Technical Strategy</h4>
                            <!-- Text -->
                            <p>Whatever in which country, you can get insightful leading tech strategy advise through the world's tech consultants.</p>
                        </div>
                    </div>
                </div><!--services col-->
                <div class="col-md-3 col-sm-6 margin20">
                    <div class="s-feature-box text-center">
                        <div class="mask-top">
                            <!-- Icon -->
                            <i class="fa fa-crop"></i>
                            <!-- Title -->
                            <h4>Clean &amp; valid technical architecture design</h4>
                        </div>
                        <div class="mask-bottom">
                            <!-- Icon -->
                            <i class="fa fa-crop"></i>
                            <!-- Title -->
                            <h4>Clean &amp; valid design</h4>
                            <!-- Text -->
                            <p>Access the Top Technical Experts to help your business design a clean & valid technical architecture design.</p>
                        </div>
                    </div>
                </div><!--services col-->
                <div class="col-md-3 col-sm-6 margin20">
                    <div class="s-feature-box text-center">
                        <div class="mask-top">
                            <!-- Icon -->
                            <i class="fa fa-flag"></i>
                            <!-- Title -->
                            <h4>Control Product &amp; Technical Risks</h4>
                        </div>
                        <div class="mask-bottom">
                            <!-- Icon -->
                            <i class="fa fa-flag"></i>
                            <!-- Title -->
                            <h4>Control Product Risks</h4>
                            <!-- Text -->
                            <p>Bugsters analyze product defects data across crowd platforms around the world's users; control indeterminate risks through big data analysis.</p>
                            <!--<p>Bugsters helps enterprise to analyze product defects data across crowd platforms around the world's users; control indeterminate risks through big data analysis.</p>-->
                        </div>
                    </div>
                </div><!--services col-->
            </div>
            <div class="divide30"></div>

        </div><!--.container-->
        <div class="divide60"></div>

        <div class="container">

            <div class="row">

                <div class="col-md-12 margin20">
                    <h3 class="heading">Meet Top Tech Experts around the World</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src="<%= asset_path "team-1.jpg" %>" class="img-responsive" alt="">
                        <h4>Caroline Gao</h4>
                        <span>Senior IT Consultant</span>
                        <!--10-11-2015 Cat Add Rating of Tech Experts-->
                        <ul class="list-inline rating-list">
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li class="review"><a href="#">(30 Thanks)</a></li>
                        </ul>
                        <!--10-11-2015 Cat Add Rating of Tech Experts-->
                        <p>
                            Caroline has been consulting in the world-leading technical advisory company HP, Ernst & Young. Her Specilists include: SAP, CRM, FinTech, Digitalmedia.
                        </p>
                        <ul class="list-inline social-1">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul><!--social-->
                        <!--Caroline Add button book an expert-->
                        <div class="divide30"></div>
                        <a href="#" class="btn btn-primary" role="button">Book an Expert</a>
                        <!--End of button book an expert-->

                    </div><!--team-wrap-->
                </div><!--team col-->
                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src="<%= asset_path "team-2.jpg" %>" class="img-responsive" alt="">
                        <h4>David Stapleton</h4>
                        <span>Senior Big Data Expert</span>
                        <!--10-11-2015 Cat Add Rating of Tech Experts-->
                        <ul class="list-inline rating-list">
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li class="review"><a href="#">(30 Thanks)</a></li>
                        </ul>
                        <!--10-11-2015 Cat Add Rating of Tech Experts-->
                        <p>
                            David graduated from the prestigious university Oxford as a mathmatics talent. He has been doing big data analysis over 20 years.
                        </p>
                        <ul class="list-inline social-1">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul><!--social-->
                        <!--Caroline Add button book an expert-->
                        <div class="divide30"></div>
                        <a href="#" class="btn btn-primary" role="button">Book an Expert</a>
                        <!--End of button book an expert-->
                    </div><!--team-wrap-->
                </div><!--team col-->
                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src="<%= asset_path "team-3.jpg" %>" class="img-responsive" alt="">
                        <h4>Jolly smith</h4>
                        <span>Senior IT Consultant</span>
                        <!--10-11-2015 Cat Add Rating of Tech Experts-->
                        <ul class="list-inline rating-list">
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li class="review"><a href="#">(30 Thanks)</a></li>
                        </ul>
                        <!--10-11-2015 Cat Add Rating of Tech Experts-->
                        <p>
                            Caroline has been consulting in the world-leading technical advisory company HP, Ernst & Young. Her Specilists include: SAP, CRM, FinTech, Digitalmedia.
                        </p>
                        <ul class="list-inline social-1">
                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul><!--social-->
                        <!--Caroline Add button book an expert-->
                        <div class="divide30"></div>
                        <a href="#" class="btn btn-primary" role="button">Book an Expert</a>
                        <!--End of button book an expert-->
                    </div><!--team-wrap-->
                </div><!--team col-->
                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src="<%= asset_path "team-4.jpg" %>" class="img-responsive" alt="">
                        <h4>Jolly smith</h4>
                        <span>Senior Big Data Expert</span>
                        <!--10-11-2015 Cat Add Rating of Tech Experts-->
                        <ul class="list-inline rating-list">
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li class="review"><a href="#">(30 Thanks)</a></li>
                        </ul>
                        <!--10-11-2015 Cat Add Rating of Tech Experts-->
                        <p>
                            David is a mathmatics talent. He graduated from Oxford University major in mathmatics. He has been doing big data analysis over 20 years.
                        </p>
                        <ul class="list-inline social-1">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul><!--social-->
                        <!--Caroline Add button book an expert-->
                        <div class="divide30"></div>
                        <a href="#" class="btn btn-primary" role="button">Book an Expert</a>
                        <!--End of button book an expert-->
                    </div><!--team-wrap-->
                </div><!--team col-->
            </div>
            <div class="divide30"></div>
            <div class="row">
                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src="<%= asset_path "team-1.jpg" %>" class="img-responsive" alt="">
                        <h4>Jolly smith</h4>
                        <span>Senior Big Data Expert</span>
                        <!--10-11-2015 Cat Add Rating of Tech Experts-->
                        <ul class="list-inline rating-list">
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li class="review"><a href="#">(30 Thanks)</a></li>
                        </ul>
                        <!--10-11-2015 Cat Add Rating of Tech Experts-->
                        <p>
                            Caroline has been consulting in the world-leading technical advisory company HP, Ernst & Young. Her Specilists include: SAP, CRM, FinTech, Digitalmedia.
                        </p>
                        <ul class="list-inline social-1">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul><!--social-->
                        <!--Caroline Add button book an expert-->
                        <div class="divide30"></div>
                        <a href="#" class="btn btn-primary" role="button">Book an Expert</a>
                        <!--End of button book an expert-->
                    </div><!--team-wrap-->
                </div><!--team col-->
                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src="<%= asset_path "team-2.jpg" %>" class="img-responsive" alt="">
                        <h4>Jolly smith</h4>
                        <span>Senior IT Consultant</span>
                        <!--10-11-2015 Cat Add Rating of Tech Experts-->
                        <ul class="list-inline rating-list">
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li class="review"><a href="#">(30 Thanks)</a></li>
                        </ul>
                        <!--10-11-2015 Cat Add Rating of Tech Experts-->
                        <p>
                            David graduated from the prestigious university Oxford as a mathmatics talent. He has been doing big data analysis over 20 years.
                        </p>
                        <ul class="list-inline social-1">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul><!--social-->
                        <!--Caroline Add button book an expert-->
                        <div class="divide30"></div>
                        <a href="#" class="btn btn-primary" role="button">Book an Expert</a>
                        <!--End of button book an expert-->
                    </div><!--team-wrap-->
                </div><!--team col-->
                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src="<%= asset_path "team-3.jpg" %>" class="img-responsive" alt="">
                        <h4>Jolly smith</h4>
                        <span>Senior IT Consultant</span>
                        <!--10-11-2015 Cat Add Rating of Tech Experts-->
                        <ul class="list-inline rating-list">
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li class="review"><a href="#">(30 Thanks)</a></li>
                        </ul>
                        <!--10-11-2015 Cat Add Rating of Tech Experts-->
                        <p>
                            Caroline has been consulting in the world-leading technical advisory company HP, Ernst & Young. Her Specilists include: SAP, CRM, FinTech, Digitalmedia.
                        </p>
                        <ul class="list-inline social-1">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul><!--social-->
                        <!--Caroline Add button book an expert-->
                        <div class="divide30"></div>
                        <a href="#" class="btn btn-primary" role="button">Book an Expert</a>
                        <!--End of button book an expert-->
                    </div><!--team-wrap-->
                </div><!--team col-->
                <div class="col-md-3 margin20">
                    <div class="team-wrap">
                        <img src="<%= asset_path "team-4.jpg" %>" class="img-responsive" alt="">
                        <h4>Jolly smith</h4>
                        <span>Senior IT Consultant</span>
                        <!--10-11-2015 Cat Add Rating of Tech Experts-->
                        <ul class="list-inline rating-list">
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li><i class="fa fa-star yellow"></i></li>
                                <li class="review"><a href="#">(30 Thanks)</a></li>
                        </ul>
                        <!--10-11-2015 Cat Add Rating of Tech Experts-->
                        <p>
                            David is a mathmatics talent. He graduated from Oxford University major in mathmatics. He has been doing big data analysis over 20 years.
                        </p>
                        <ul class="list-inline social-1">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul><!--social-->
                        <!--Caroline Add button book an expert-->
                        <div class="divide30"></div>
                        <a href="#" class="btn btn-primary" role="button">Book an Expert</a>
                        <!--End of button book an expert-->
                    </div><!--team-wrap-->
                </div><!--team col-->
            </div>

            <div class="divide60"></div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="#" class="btn border-theme btn-lg wow animated fadeInUp"><i class="fa fa-bars"></i>Load More Tech Experts</a>
                </div>
            </div>

        </div><!--team-->
        <div class="divide60"></div>
        <!-- End of Caroline Add Tech Experts into the half-bottom page-->

        <section id="cta-1">
            <div class="container">
                <h1>Want to Provide Your Technical Expert Skills?</h1>
                <a href="#" class="btn border-white btn-lg">Join Us Now</a>
            </div>
        </section>

    </body>
</html>
